html, body {
  height: 115px;
  width: 200px;
  margin: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dadada;
  margin: 0em 0;
  padding: 0;
}

.title {
  display: flex;
  margin-top: 7px;
  margin-bottom: 5px;
}

.title img {
  display: block;
  margin-right: 5px;
}

.title p {
  font-weight: bold;
  margin: 0;
}

.content p {
  margin: 0;
}

.content .hidden {
  display: none;
}

.content, .title {
  padding-left: 5px;
}

.content #message {
  color: red;
  text-align: center;
}

.setting {
  height: 35px;
  display: flex;
  align-items: center;
}

.setting label {
  position: absolute;
	right: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}

.navbar {
  overflow: hidden;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: dodgerblue;
  text-align: center;
  padding: 4px 0;
  text-decoration: none;
  width: 50%;
}

.navbar a:hover {
  background-color: #2196F3;
  color: white;
}
